## Kaggle games Dataset

We will be using the [games Dataset](https://www.kaggle.com/gutsyrobot/games-data/data) from Kaggle.

In [1]:
import pandas as pd
import os

**Q.no(1). load the Data 'games.csv' as games.**

In [2]:
data_excel=pd.read_csv('games.csv')

-----

**Q.no(2). Check the head of the DataFrame.**

In [3]:
data_excel.head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,20113,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943

-----

**Q.no(3)How many rows and columns are there.**

In [4]:
data_excel.shape

(81312, 20)

In [5]:
data_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81312 entries, 0 to 81311
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    81312 non-null  int64
 1   type                  81312 non-null  object
 2   name                  81271 non-null  object
 3   yearpublished         81309 non-null  float64
 4   minplayers            81309 non-null  float64
 5   maxplayers            81309 non-null  float64
 6   playingtime           81309 non-null  float64
 7   minplaytime           81309 non-null  float64
 8   maxplaytime           81309 non-null  float64
 9   minage                81309 non-null  float64
 10  users_rated           81312 non-null  int64
 11  average_rating        81312 non-null  float64
 12  bayes_average_rating  81312 non-null  float64
 13  total_owners          81312 non-null  int64
 14  total_traders         81312 non-null  int64
 15  total_wanters         81312 non-null  int64
 16  total_wishers         81312 non-null  int64
 17  total_comments        81312 non-null  int64
 18  total_weights         81312 non-null  int64
 19  average_weight        81312 non-null  float64
dtypes: float64(10), int64(8), object(2)
memory usage: 12.4+ MB

-----

**Q.no(4). What is the average Playingtime of all the players in the dataset.**

In [5]:
data_excel['playingtime'].mean()

51.63478827682052

-------------------

**Q.no(5).What is the highest number of comments received for a game.**

In [6]:
data_excel['total_comments'].max()

11798

-------

**Q.no(6).What is the name of the game with id 1500.**

In [7]:
data_excel[data_excel['id']==1500]['name']

10592    Zocken
Name: name, dtype: object

------

**Q.no(7).which year the game with id 1600 was published.**

In [8]:
data_excel[data_excel['id']==1600]['yearpublished']

13270    1986.0
Name: yearpublished, dtype: float64

-----

**Q.no(8).Which game has received highest number of comments.**

In [10]:
data_excel[data_excel['total_comments']== data_excel['total_comments'].max()]['name']

165     Catan
1965    Catan
Name: name, dtype: object

In [9]:
data_excel[data_excel['total_comments']== data_excel['total_comments'].max()]
#to see the games

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
165,13,boardgame,Catan,1995.0,3.0,4.0,90.0,90.0,90.0,10.0,53680,7.34303,7.21171,73188,1071,391,3201,11798,5996,2.3712
1965,13,boardgame,Catan,1995.0,3.0,4.0,90.0,90.0,90.0,10.0,53680,7.34303,7.21171,73188,1071,391,3201,11798,5996,2.3712

-----

**Q.no(9).Which games have received least number of comments**

In [12]:
data_excel[data_excel['total_comments']==data_excel['total_comments'].min()]['name']

13048                                           Looney Leo
13054                                                 Dump
13068                                        Field of Fire
13095                                             Matheeno
13103    Auction America: The Trivia Game for Any Colle...
                               ...
81307                                 Micro Rome: Aegyptus
81308    Trivial Pursuit: Marvel Cinematic Universe  Da...
81309                                            BEARanoia
81310                                              Freight
81311                                    Bingo Animal Kids
Name: name, Length: 29001, dtype: object

In [11]:
data_excel[data_excel['total_comments']==data_excel['total_comments'].min()]

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
13048,318,boardgame,Looney Leo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0,1,0,0,0.0
13054,468,boardgame,Dump,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,5.5,0.0,3,0,1,3,0,0,0.0
13068,579,boardgame,Field of Fire,2002.0,2.0,0.0,0.0,0.0,0.0,12.0,0,0.0,0.0,2,0,0,1,0,0,0.0
13095,738,boardgame,Matheeno,2000.0,2.0,2.0,20.0,20.0,20.0,9.0,1,3.0,0.0,0,0,1,1,0,0,0.0
13103,778,boardgame,Auction America: The Trivia Game for Any Colle...,2000.0,2.0,4.0,60.0,60.0,60.0,0.0,1,4.0,0.0,2,0,0,2,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81307,184441,boardgameexpansion,Micro Rome: Aegyptus,2015.0,1.0,1.0,0.0,30.0,0.0,10.0,0,0.0,0.0,0,0,0,0,0,0,0.0
81308,184442,boardgame,Trivial Pursuit: Marvel Cinematic Universe Da...,2013.0,2.0,0.0,0.0,0.0,0.0,12.0,0,0.0,0.0,0,0,0,0,0,0,0.0
81309,184443,boardgame,BEARanoia,2015.0,2.0,15.0,1.0,1.0,1.0,0.0,0,0.0,0.0,0,0,0,0,0,0,0.0
81310,184449,boardgame,Freight,2015.0,2.0,4.0,60.0,30.0,60.0,8.0,0,0.0,0.0,0,0,0,0,0,0,0.0
81311,184451,boardgame,Bingo Animal Kids,2010.0,1.0,6.0,10.0,10.0,10.0,2.0,0,0.0,0.0,0,0,0,0,0,0,0.0

-----

**Q.no(10).How many unique games are there in the dataset.**

In [13]:
data_excel['name'].nunique()

#to get the count of total unique games

76035

----

**Q.no(11).How many game types are present in the dataset.**

In [15]:
data_excel['type'].nunique()

2

In [22]:
#data_excel['type'].unique() for seeing those games

----

**Q.no(12) Show the average ratings of games in ascending order.**

In [12]:
data_excel.sort_values(by='average_rating') #Shows full table
#Default is ascending
#data_excel.sort_values(by='average_rating')['average_rating'] - shows only this average ratings

81311     0.0
46614     0.0
46615     0.0
46616     0.0
46617     0.0
         ...
76117    10.0
76116    10.0
55328    10.0
80276    10.0
64898    10.0
Name: average_rating, Length: 81312, dtype: float64

----

**Q.no(13) Show the average ratings of games in descending order.**

In [18]:
data_excel.sort_values(by='average_rating',ascending=False)

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
74808,166729,boardgameexpansion,Age of Conan: The Strategy Board Game Adventu...,2015.0,0.0,0.0,0.0,0.0,0.0,0.0,2,10.0,0.0,67,0,13,65,33,1,4.0
62260,127567,boardgameexpansion,-(Mathul8)^2,2011.0,1.0,4.0,5.0,5.0,5.0,10.0,1,10.0,0.0,2,1,0,0,0,2,1.0
72670,160007,boardgame,Kamara,2014.0,2.0,8.0,25.0,25.0,25.0,12.0,1,10.0,0.0,2,0,0,0,0,0,0.0
78071,175640,boardgame,Vinhos Deluxe Edition,2016.0,2.0,4.0,135.0,60.0,135.0,14.0,1,10.0,0.0,3,0,27,155,3,0,0.0
79305,179159,boardgameexpansion,Zombicide: Black Plague Survivor Gowan,2015.0,1.0,6.0,0.0,0.0,0.0,10.0,1,10.0,0.0,25,0,2,9,7,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50664,70942,boardgame,Battleships Zenith!,2004.0,1.0,4.0,60.0,60.0,60.0,13.0,0,0.0,0.0,1,0,0,0,0,0,0.0
50661,70938,boardgame,Along Bible Roads,1960.0,3.0,15.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0,0,0,0,0.0
50659,70925,boardgame,Renpaarden,0.0,2.0,2.0,20.0,20.0,20.0,0.0,0,0.0,0.0,3,0,0,0,1,0,0.0
50653,70915,boardgame,The Stork Didn't Bring Me,1988.0,2.0,4.0,0.0,0.0,0.0,5.0,0,0.0,0.0,0,0,0,0,0,0,0.0
81311,184451,boardgame,Bingo Animal Kids,2010.0,1.0,6.0,10.0,10.0,10.0,2.0,0,0.0,0.0,0,0,0,0,0,0,0.0

----

**Q.no(14).What is the dense rank order of the games as per there average rating.**

In [13]:
data_excel['average_rating_dense']=data_excel['average_rating'].rank(method='dense')
data_excel[['name','average_rating_dense']]
#Default ascending is 0

                                                    name  average_rating_dense
0                                      Twilight Struggle               17105.0
1                                          Terra Mystica               17041.0
2                              Caverna: The Cave Farmers               17044.0
3              Through the Ages: A Story of Civilization               16909.0
4                                            Puerto Rico               16788.0
...                                                  ...                   ...
81307                               Micro Rome: Aegyptus                   1.0
81308  Trivial Pursuit: Marvel Cinematic Universe  Da...                   1.0
81309                                          BEARanoia                   1.0
81310                                            Freight                   1.0
81311                                  Bingo Animal Kids                   1.0

[81312 rows x 2 columns]

------

# --------------------------------HAPPY LEARNING---------------------------------------

-------